#logo{
    font-family: 'Pacifico', cursive;
    font-size:50px;
    margin-top:5%;
}

*{
    font-family: 'Roboto', sans-serif;  
}

html, body {
    /* html과 body 요소에 높이를 100%로 설정하여 그라데이션이 전체 배경으로 표시됨 */
    height: 100%;
}
body{
    /* 선형 그라데이션을 적용하여 배경 만들기 */
    background: linear-gradient(to bottom right, #060606, #7d7e7d);

    /* 추가적인 스타일링을 원하는 경우 아래에 추가 코드 작성 가능 */
    /* 예: 글자 색상, 폰트, 여백, 텍스트 정렬 등 */
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
}

.myButton {
    background-color: #050606;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
}

.myButton:hover {
    background-color: #848586;
}