#logo{
    font-family: 'Pacifico', cursive;
    font-size:50px;
    margin-top:5%;
    text-decoration: none;
    color: white;
}

* { 
    font-family: 'Roboto', sans-serif;  
}


body{
    /* 선형 그라데이션을 적용하여 배경 만들기 */
    background: linear-gradient(to bottom right, #060606, #7d7e7d);
    background-size: cover;
    background-attachment: fixed;
    /* 추가적인 스타일링을 원하는 경우 아래에 추가 코드 작성 가능 */
    /* 예: 글자 색상, 폰트, 여백, 텍스트 정렬 등 */
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
}

.myButton {
    background-color: #050606;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.myButton:hover {
    background-color: #848586;
}

/* 팝업 컨테이너 */
.popup-content {
    display: none; /* 초기에는 숨겨진 상태 */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:black;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* 닫기 버튼 */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}
