<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Game</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <style>
            .game-body{
                height:130%;
            }
        </style>
        <link rel="stylesheet" href="{{url_for('static', filename='home.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='toastify.css')}}">
    </head>
    <body class="game-body">
        {% include 'logo.html' %}
        {% include 'logout.html' %}
        <div class="hero is-fullheight" style="min-height: 0;">
            <div class="hero-body is-justify-content-center is-align-items-center" style="padding: 2rem 3rem;">
                <div class="columns is-flex is-flex-direction-column box">
                    <canvas id="canvas" width="1000px" height="500px"></canvas>
                </div>
            </div>
        </div>
        <script type="module" src="{{url_for('static', filename='game.js')}}"></script>
    </body>
    
</html>